body {
  background-color: rgb(130, 166, 170, 0.7);
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

h1 {
  font-size: small;
  color: grey;
}

.sun-icon-top {
  display: block;
  margin: -60px auto;
  color: rgb(130, 166, 170, 0.7);
  position: relative;
  top: 69px;
  left: 23px;
  font-size: 96px;
}

#temperature {
  color: #272142;
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
  margin-left: 27.5px;
}

.units {
  color: #272142;
  position: relative;
  top: -20px;
}

h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 29px;
  margin: 20px 0 10px;
}

.units a {
  text-decoration: none;
  color: black;
}

.line {
  color: #272142;
  position: relative;
  top: 40px;
}

.sun-icon {
  display: block;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: rgba(100, 111, 112, 0.7);
}

.git-hub-link {
  text-decoration: none;
  color: rgb(255, 200, 0);
}
